[submodule "k3s-ansible"]
	path = k3s-ansible
	url = https://github.com/k3s-io/k3s-ansible.git
[submodule "raspberry-pi-dramble"]
	path = raspberry-pi-dramble
	url = https://github.com/geerlingguy/raspberry-pi-dramble.git
[submodule "MOTD"]
	path = MOTD
	url = https://github.com/jpconstantineau/MOTD.git
